#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 42px;
}

p {
  font-size: 18px;
}

.banner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  gap: 32px;
  background-color: #f3f3f3;
}

.mended-logo {
  width: 100%;
  max-width: 500px;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.form-section {
  padding: 5%;
  display: flex;
  justify-content: center;
}

.login-form-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.repair-form,
.login-form {
  width: 500px;
  padding: 32px;
  background-color: #f3f3f3;
  border-radius: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form-group > label {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
}

.form-group > .checkbox-container > label {
  font-family: inherit;
  font-size: 16px;
}

input,
select,
textarea {
  background-color: white;
  border: 1px solid #4400ff;
  padding: 8px;
  font-family: inherit;
  font-size: 16px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

#notes {
  height: 100px;
  font-family: inherit;
}

#submit-btn {
  margin-top: 8px;
}

#submit-btn:hover {
  color: #d7b4f1 !important;
}

.job-listing-section {
  display: flex;
  justify-content: center;
  padding: 0 5% 5%;
  gap: 32px;
}

.job-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  gap: 32px;
}

.full-width-job-list {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* .all-jobs-section {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
} */

.heading-btn-container {
  display: flex;
  gap: 16px;
}

.job-card {
  background-color: #f3f3f3;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 16px;
}

#collapsed-view {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.job-card-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.job-card-group {
  display: flex;
  flex-direction: column;
}

.job-card-line {
  display: flex;
  align-items: center;
  gap: 8px;
}

.job-card-label {
  font-size: 14px;
  font-weight: 700;
}

.job-card-icon {
  width: 20px;
}

.btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  border: 2px solid;
  border-radius: 32px;
  cursor: pointer;
  min-width: 95px;
  color: #2f2f2f;
  border-color: #2f2f2f;
  transition: 400ms;
  background-color: none;
}

.btn:hover {
  background-color: #2f2f2f !important;
  color: #d7b4f1;
}

.btn-container {
  display: flex;
  gap: 16px;
}

#update-btn {
  background-color: #8adcb4;
}

#update-btn:hover {
  color: #8adcb4;
}

#edit-btn {
  background-color: #d7b4f1;
}

#edit-btn:hover {
  color: #d7b4f1;
}

#delete-btn {
  background-color: #fea3b2;
}

#delete-btn:hover {
  color: #fea3b2;
}

.header {
  display: flex;
  padding: 8px;
  justify-content: right;
  gap: 8px;
  background-color: #f3f3f3;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
  padding-right: 32px;
}

.search-bar {
  border-radius: 32px;
  padding: 8px 16px;
  width: 60%;
}

.sort-container {
  width: 40%;
}

/* MOBILE STYLING */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  .banner-heading {
    font-size: 28px;
  }

  .job-listing-section {
    flex-direction: column;
  }

  .btn-container {
    flex-direction: column;
  }

  .btn {
    min-width: none;
    width: 100%;
  }

  .job-card-date {
    font-size: 14px;
  }

  #dates {
    gap: 8px;
  }

  #dates > .job-card-line {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .search-bar {
    width: 100%;
  }

  .sort-container {
    width: 100%;
  }

  .repair-form,
  .login-form {
    width: 100%;
    padding: 16px;
  }

  .header {
    align-items: center;
  }

  .search-container {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0;
  }

  .header .btn {
    width: auto;
    align-self: flex-end;
  }

  .heading-btn-container h2 {
    font-size: 24px;
  }

  .heading-btn-container .btn {
    width: auto;
    padding: 4px 8px;
    font-size: 14px;
  }

  .sort-container select {
    width: 100%;
  }

  .job-card-header .toggle-btn {
    width: 50px;
  }
}
